[submodule "plugins/zsh-autosuggestions"]
	path = plugins/zsh-autosuggestions
	url = git@github.com:zsh-users/zsh-autosuggestions.git
[submodule "plugins/zsh-completions"]
	path = plugins/zsh-completions
	url = git@github.com:zsh-users/zsh-completions.git
